*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto';
}
img{
    display: flex;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 1000;
    padding: 3.3vh;
}
.menu{
    position: absolute;
    top: 6vh;
    left: 55vh;
    width: 100vh;
}
.logomassif{
    position: absolute;
    width: 15vh;
    height: 5vh;
    top: 5vh;
    left: 30vh;
}
.stars{
    position: absolute;
    top: 35vh;
    left: 60vh;
}
h1{
    position: absolute;
    top: 28vh;
    left: 58vh;
    font-weight: 100;
    letter-spacing: 1.5vh;
    color: white;
}
p{
    position: absolute;
    text-align: center;
    top: 40vh;
    left: 38vh;
    width: 70vh;
    color: white;
}
.bienvenue{
    display: flex;
}
.bienvenue1{
    position: absolute;
    margin: 15vh 15vh;
    width: 20vh;
    height: 45vh;
}
h2{
    position: absolute;
    color: black;
    top: 72vh;
    left: 70vh;
    font-weight: 1000;
}
.bienvenue2{
    position: absolute;
    color: #20677c;
    text-align: left;
    top: 82.5vh;
    left: 70vh;
    font-weight: 500;
}
.ensavoirplus{
    position: absolute;
    top: 105vh;
    left: 70vh;
    color: #0c2f39;
    font-weight: 500;
    font-size: large;
    width: 25vh;
    height: 5vh;
}
.btn{
    position: absolute;
    top: 1vh;
    right: 2.5vh;
    width: 1.5vh;
    height: 1.5vh;
}
.fondvertclair{
    display: flex;
    position: absolute;
    background-color: #d1f5d1;
    top: 140vh;
    width: 160vh;
    height: 55vh;
}
.prestationprix{
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 5vh;
    top: 150vh;
    left: 22.5vh;
}
.prestation1{
    text-align: center;
    font-size: 150%;
    font-weight: 600;
}
.prix1{
    text-align: center;
    color: #28abb9;
    font-weight: 600;
}
.prestation2{
    text-align: center;
    font-size: 150%;
    font-weight: 600;
}
.prix2{
    text-align: center;
    color: #28abb9;
    font-weight: 600;
}
.prestation3{
    text-align: center;
    font-size: 150%;
    font-weight: 600;
}
.prix3{
    text-align: center;
    color: #28abb9;
    font-weight: 600;
}
.chambre{
    display: flex;
    position: absolute;
    top: 125vh;
    left: 65vh;
    width: 50vh;
    height: 10vh;
    font-weight: 1000;
    font-size: 150%;
}
.suite{
    display: flex;
    position: absolute;
    text-align: center;
    top: 127.5vh;
    left: 35vh;
    margin: 5vh;
    width: 70vh;
    font-size: medium;
    color: #20677c;
}
.nosservices{
    display: flex;
    position: absolute;
    top: 210vh;
    left: 30vh;
    width: 50vh;
    height: 30vh;
}
.services{
    display: flex;
    position: absolute;
    color: black;
    text-align: center;
    top: 200vh;
    left: 65vh;
    font-size: 200%;
    font-weight: 1000;
    width: 20vh;
    height: 10vh;
    letter-spacing: 0.1vh;
}
.hebergement{
    display: flex;
    position: absolute;
    top: 250vh;
    width: 100%;
}
.DÉCOUVRIR{
    position: absolute;
    background-color: #28abb9;
    color: white;
    border-radius: 1vh;
    top: 25vh;
    left: 67.5vh;
    width: 15vh;
    height: 5vh;
}
.unhébergement{
    position: absolute;
    text-align: center;
    top: 10vh;
    left: 60vh;
    color: white;
    width: 30vh;
    height: 10vh;
    font-weight: 1000;
    font-size: 125%;
    letter-spacing: 0.1vh;
}
.dehautequalité{
    position: absolute;
    text-align: center;
    top: 15vh;
    left: 60vh;
    color: white;
    width: 30vh;
    height: 10vh;
    font-weight: 1000;
    font-size: 200%;
    letter-spacing: 0.1vh;
}
.commentaires{
    display: flex;
    position: absolute;
    top: 315vh;
    left: 22.5vh;
    padding-bottom: 5vh;
}
.avis1{
    display: flex;
    position: absolute;
    top: 300vh;
    left: 55vh;
    width: 40vh;
    height: 5vh;
    color: black;
    font-weight: 1000;
    font-size: 200%;
    letter-spacing: 0.1vh;
}
.avis2{
    display: flex;
    position: absolute;
    top: 310vh;
    left: 45vh;
    width: 60vh;
    height: 5vh;
    color: #20677c;
    font-weight: 1000;
    font-size: medium;
    letter-spacing: 0.1vh;
}

@media screen and (max-widht:420px){}
    
/* border-bottom-left(right)-radius >>> pour arrondir les angles des cadres (captures d'écran) */